$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(.23,.76,.37,.99);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);