$white: #ffffff;
$black: #000;
$red: #e60014;
$orange: #ec492c;
$blue: #0f7ce3;
$yellow: #fec804;
$gray: #eeeeee;
$facebook: #315096;
$twitter: #55acee;
$line: #00c300;
$bg-color: #f8f8f8;
$base-font-color: #222;
