/*
* 変数用scss(カラーコード以外)
*/

//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;
$base-background-color: #fff;

//z-index
$max-z: 10;

//media-query
$break-point-sp-max: 738px;  // max-width of SP layout
$break-point-tb-min: 739px;  // min-width of Tablet layout
$break-point-tb-max: 1024px; // max-width of Tablet layout
$break-point-pc-min: 1025px; // min-width of PC layout
$break-point-pc-max: 1280px; // max-width of PC layout
