.comment-pool {
  padding-left: 0;
  > li {
    padding: 10px 0;
    overflow: hidden;
    list-style: none;
    border-top: 1px solid #ddd;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
    button {
      float: right;
    }
  }
}
.comment-pool__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.comment-pool__text {
  display: block;
  margin-bottom: 0;
  padding: 8px 0;
  float: left;
}
.sound-text-box {
  line-height: 1;
}
.sound-text {
  font-size: 12px;
}
.sound-text-label {
  line-height: 1;
}
.sound-checkbox {
  display: inline-block;
  margin-left: -8px !important;
}
