.count {
  position: relative;
  min-height: 143px;
  padding: 15px 0;
  cursor: pointer;
  border: 1px solid #d0cfcf;
  border-radius: 6px;
  background-color: $white;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  &.is-animated {
    animation-name: count;
    animation-duration: .75s;
  }
}

@keyframes count {
  from {
    border-color: #d0cfcf;
    background-color: $white;
  }

  10% {
    border-color: #2196f5;
    background-color: #92c8f5;
  }

  to {
    border-color: #d0cfcf;
    background-color: $white;
  }
}

.count__num {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  width: 100%;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #2196f5;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  opacity: 1;
  transition: opacity .5s;
  &.count__num--long {
    font-size: 35px;
  }
  &.is-hide {
    opacity: 0;
    & + .count__name {
      .count__name__alphabet {
        color: #2196f5;
      }
    }
  }
}
.count__name {
  display: block;
  position: relative;
  text-align: center;
  font-size: 20px;
}
.count__name__alphabet {
  margin-bottom: 0;
  font-size: 90px;
  font-weight: bold;
  line-height: 1;
  color: #f4f4f4;
  transition: color .5s;
}
.count__name__text {
  padding: 0 10px;
  letter-spacing: 0.05em;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  color: #696b74;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.screen-count {
	position: relative;
  height: 320px;
  padding: 35px 30px 30px;
  cursor: default;
}
.screen-count__alphabet {
	position: absolute;
  top: 20px;
  left: 30px;
	color: rgba(33, 150 ,225, .1);
	line-height: 1;
	font-weight: bold;
	font-size: 130px;
}
.screen-count__name {
  //display: flex;
  //padding-left: 20px;
}
.screen-count__name__text {
  text-align: center;
  color: #696b74;
  font-size: 60px;
  font-weight: bold;
	word-break: break-all;
}
.screen-count__num {
  position: absolute;
  bottom: 40px;
  left: 50%;
  line-height: 1;
  transform: translate(-50%, 0);
  color: #2196f5;
  text-align: center;
  font-weight: bold;
  font-size: 140px;
  opacity: 1;
  transition: opacity .5s;
  &.is-hide {
    opacity: 0;
  }
}
