.layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
  opacity: 0;
  transition: opacity .5s;
  &.is-show {
    opacity: 1;
  }
}
.layer__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}
.layer__count-stop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2196f5;
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
  &.layer__count-stop--screen {
    font-size: 140px;
  }
}
