.title {
	min-height: 130px;
	padding: 30px 0;
	text-align: center;
	color: #2196f3;
	font-size: 25px;
	line-height: 1.4;
	text-overflow: ellipsis;
}

.screen-title {
  min-height: 140px;
  padding: 30px 0;
  text-align: center;
  color: #2196f3;
	font-size: 60px;
	line-height: 1.6;
}
